@import "variables";


.headerBkgd {
  height: 150px;
  width: 100%;
  background-color: $header-color;
  .text{
    font: $font-color;
    text-align: center;}
}

.background {
  width: 100%;
  height: 500px;
  background-color: $background-color;
  font: $font-color;
}
