//variables
$accent-color: #0EA46F;
$background-color: #444444;
$header-color: #232323;
$font-color: #ffffff;
$header-font: 'Lora', serif;
$body-font: 'Montserrat', sans-serif;
$padding-userInput: 20px;
$padding-left: 5px;
